amcl:
  ros__parameters:
    use_sim_time: True
    alpha1: 0.05
    alpha2: 0.05
    alpha3: 0.05
    alpha4: 0.2
    alpha5: 0.3
    base_frame_id: base_link
    beam_skip_distance: 0.5
    beam_skip_error_threshold: 0.9
    beam_skip_threshold: 0.3
    do_beamskip: false
    global_frame_id: map
    lambda_short: 0.1
    laser_likelihood_max_dist: 2.0
    laser_max_range: 10.0
    laser_min_range: 0.1
    laser_model_type: "likelihood_field"
    max_beams: 60
    max_particles: 2000
    min_particles: 500
    odom_frame_id: odom
    pf_err: 0.05
    pf_z: 0.99
    recovery_alpha_fast: 0.0
    recovery_alpha_slow: 0.0
    resample_interval: 1
    robot_model_type: "nav2_amcl::DifferentialMotionModel"
    save_pose_rate: 0.5
    sigma_hit: 0.2
    tf_broadcast: true #set for amcl
    transform_tolerance: 1.0
    update_min_a: 0.05
    update_min_d: 0.05
    z_hit: 0.8
    z_max: 0.005
    z_rand: 0.15
    z_short: 0.05
    scan_topic: "scan"
    transform_tolerance: 0.5
    save_pose_rate:      0.5
    do_beamskip:         false
    odom_topic: /odometry/filtered

bt_navigator:
  ros__parameters:
    use_sim_time: True
    global_frame: map
    robot_base_frame: base_link
    odom_topic: /odometry/filtered
    bt_loop_duration: 10
    default_server_timeout: 20
    wait_for_service_timeout: 1000

    # 'default_nav_through_poses_bt_xml' and 'default_nav_to_pose_bt_xml' are use defaults:
    # nav2_bt_navigator/navigate_to_pose_w_replanning_and_recovery.xml
    # nav2_bt_navigator/navigate_through_poses_w_replanning_and_recovery.xml
    # They can be set here or via a RewrittenYaml remap from a parent launch file to Nav2.

    default_nav_to_pose_bt_xml: "/home/asas/Documents/NCHSB/src/rc_model_description/behavior_trees/navigate_to_pose_ackermann.xml"


    plugin_lib_names:
      - nav2_compute_path_to_pose_action_bt_node
      - nav2_compute_path_through_poses_action_bt_node
      - nav2_smooth_path_action_bt_node
      - nav2_follow_path_action_bt_node
      - nav2_spin_action_bt_node
      - nav2_wait_action_bt_node
      - nav2_assisted_teleop_action_bt_node
      - nav2_back_up_action_bt_node
      - nav2_drive_on_heading_bt_node
      - nav2_clear_costmap_service_bt_node
      - nav2_is_stuck_condition_bt_node
      - nav2_goal_reached_condition_bt_node
      - nav2_goal_updated_condition_bt_node
      - nav2_globally_updated_goal_condition_bt_node
      - nav2_is_path_valid_condition_bt_node
      - nav2_initial_pose_received_condition_bt_node
      - nav2_reinitialize_global_localization_service_bt_node
      - nav2_rate_controller_bt_node
      - nav2_distance_controller_bt_node
      - nav2_speed_controller_bt_node
      - nav2_truncate_path_action_bt_node
      - nav2_truncate_path_local_action_bt_node
      - nav2_goal_updater_node_bt_node
      - nav2_recovery_node_bt_node
      - nav2_pipeline_sequence_bt_node
      - nav2_round_robin_node_bt_node
      - nav2_transform_available_condition_bt_node
      - nav2_time_expired_condition_bt_node
      - nav2_path_expiring_timer_condition
      - nav2_distance_traveled_condition_bt_node
      - nav2_single_trigger_bt_node
      - nav2_goal_updated_controller_bt_node
      - nav2_is_battery_low_condition_bt_node
      - nav2_navigate_through_poses_action_bt_node
      - nav2_navigate_to_pose_action_bt_node
      - nav2_remove_passed_goals_action_bt_node
      - nav2_planner_selector_bt_node
      - nav2_controller_selector_bt_node
      - nav2_goal_checker_selector_bt_node
      - nav2_controller_cancel_bt_node
      - nav2_path_longer_on_approach_bt_node
      - nav2_wait_cancel_bt_node
      - nav2_spin_cancel_bt_node
      - nav2_back_up_cancel_bt_node
      - nav2_assisted_teleop_cancel_bt_node
      - nav2_drive_on_heading_cancel_bt_node
      - nav2_is_battery_charging_condition_bt_node

bt_navigator_navigate_through_poses_rclcpp_node:
  ros__parameters:
    use_sim_time: True

bt_navigator_navigate_to_pose_rclcpp_node:
  ros__parameters:
    use_sim_time: True

controller_server:
  ros__parameters:
    use_sim_time: True
    controller_frequency: 20.0

    # For Ackermann, no lateral velocity
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.0
    min_theta_velocity_threshold: 0.001

    failure_tolerance: 0.3

    progress_checker_plugin: "progress_checker"
    goal_checker_plugins: ["general_goal_checker"]
    controller_plugins: ["FollowPath"]   # FollowPath = MPPI plugin

    # -----------------------
    # Progress checker
    # -----------------------
    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.5
      movement_time_allowance: 10.0

    # -----------------------
    # Goal checker
    # -----------------------
    general_goal_checker:
      plugin: "nav2_controller::SimpleGoalChecker"
      stateful: False
      xy_goal_tolerance: 0.5
      yaw_goal_tolerance: 0.5

    # =======================
    #   MPPI CONTROLLER
    #   (used as FollowPath)
    # =======================
    FollowPath:
      plugin: "nav2_mppi_controller::MPPIController"

      # --- core rollout settings ---
      time_steps: 40          # prediction horizon steps
      model_dt: 0.05          # 20 Hz controller → 0.05s
      batch_size: 1000        # number of sampled trajectories

      # --- Gaussian sampling std devs ---
      vx_std: 0.4             # forward velocity noise
      vy_std: 0.0             # no lateral motion for Ackermann
      wz_std: 0.6             # yaw rate noise

      # --- velocity limits (Ackermann, conservative for now) ---
      vx_max: 0.8             # m/s, forward
      vx_min: -0.4            # m/s, allow reversing
      vy_max: 0.0             # non-holonomic
      wz_max: 2.0             # rad/s yaw rate

      # --- acceleration limits ---
      ax_max: 3.0
      ax_min: -3.0
      ay_max: 0.0
      ay_min: 0.0
      az_max: 3.5

      # How many optimization iterations per control loop
      iteration_count: 1

      # How far ahead we consider for pruning the path
      prune_distance: 2.0

      transform_tolerance: 0.1

      # MPPI softmax temperature & discount
      temperature: 0.3
      gamma: 0.015

      # Use Ackermann model instead of diff_drive
      motion_model: "Ackermann"

      # Housekeeping
      visualize: false
      reset_period: 1.0
      regenerate_noises: false

      TrajectoryVisualizer:
        trajectory_step: 5
        time_step: 3

      AckermannConstraints:
        # wheelbase ~0.187 m, so a small turning radius is OK
        min_turning_r: 0.35

      # =======================
      #   CRITICS
      # =======================
      critics: [
        "ConstraintCritic",
        "CostCritic",
        "GoalCritic",
        "GoalAngleCritic",
        "PathAlignCritic",
        "PathFollowCritic",
        "PathAngleCritic",
        "PreferForwardCritic"
      ]

      ConstraintCritic:
        enabled: true
        cost_power: 1
        cost_weight: 4.0

      CostCritic:
        enabled: true
        cost_power: 1
        cost_weight: 3.8
        critical_cost: 300.0
        consider_footprint: true
        collision_cost: 1000000.0
        near_goal_distance: 1.0
        trajectory_point_step: 2

      GoalCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        threshold_to_consider: 1.4

      GoalAngleCritic:
        enabled: true
        cost_power: 1
        cost_weight: 3.0
        threshold_to_consider: 0.5

      PreferForwardCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        threshold_to_consider: 0.5

      PathAlignCritic:
        enabled: true
        cost_power: 1
        cost_weight: 14.0
        max_path_occupancy_ratio: 0.05
        trajectory_point_step: 4
        threshold_to_consider: 0.5
        offset_from_furthest: 20
        use_path_orientations: false

      PathFollowCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        offset_from_furthest: 5
        threshold_to_consider: 1.4

      PathAngleCritic:
        enabled: true
        cost_power: 1
        cost_weight: 2.0
        offset_from_furthest: 4
        threshold_to_consider: 0.5
        max_angle_to_furthest: 1.0
        mode: 0



#controller_server:
#  ros__parameters:
#    use_sim_time: True
#    controller_frequency: 20.0
#    min_x_velocity_threshold: 0.001
#    min_y_velocity_threshold: 0.5
#    min_theta_velocity_threshold: 0.001
#    failure_tolerance: 0.3
#    progress_checker_plugin: "progress_checker"
#    goal_checker_plugins: ["general_goal_checker"] # "precise_goal_checker"
#    controller_plugins: ["FollowPath"]
#
#    # Progress checker parameters
#    progress_checker:
#      plugin: "nav2_controller::SimpleProgressChecker"
#      required_movement_radius: 0.5
#      movement_time_allowance: 10.0
#    # Goal checker parameters
#    #precise_goal_checker:
#    #  plugin: "nav2_controller::SimpleGoalChecker"
#    #  xy_goal_tolerance: 0.25
#    #  yaw_goal_tolerance: 0.25
#    #  stateful: True
#    general_goal_checker:
#      stateful: False #goal checker change when we want very accurate
#      plugin: "nav2_controller::SimpleGoalChecker"
#      xy_goal_tolerance: 0.5
#      yaw_goal_tolerance: 0.5
#    # DWB parameters
#    FollowPath:
#      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
#      debug_trajectory_details: true
#      odom_topic: /odometry/filtered
#      desired_linear_vel: 0.8  
#      max_linear_accel: 1.0
#      max_linear_decel: 1.0
#      lookahead_dist: 0.45
#      min_lookahead_dist: 0.3
#      max_lookahead_dist: 0.7
#      use_velocity_scaled_lookahead_dist: true
#      transform_tolerance: 0.2
#      use_shortest_path: true
#      use_rotate_to_heading: false
#      allow_reversing: true
#      regulated_linear_scaling_min_radius: 0.9
#      regulated_linear_scaling_min_speed: 0.15
#
#      #change to TRUE   later Temporarily disable cost-based slowing 
#      use_regulated_linear_velocity_scaling: false
#      use_cost_regulated_linear_velocity_scaling: false
#
#      # cost_scaling_dist: 0.05        # <= inflation_radius
#      # cost_scaling_gain: 0.5
#      
#      inflation_cost_scaling_factor: 3.0
#
#      # Near goal: slow down to follow tight arcs better
#      use_approach_linear_velocity_scaling: true
#      approach_velocity_scaling_dist: 0.75
#
#      #  Keep collision detection but shrink the time horizon
#      use_collision_detection: true
#      max_allowed_time_to_collision_up_to_carrot: 0.25   # default 1.0
#
#



      
      #min_vel_x: 0.0
      #min_vel_y: 0.0
      #max_vel_x: 0.26
      #max_vel_y: 0.0
      #max_vel_theta: 0.0
      #min_speed_xy: 0.05
      #max_speed_xy: 0.26
      #min_speed_theta: 0.0
      ## Add high threshold velocity for turtlebot 3 issue.
      ## https://github.com/ROBOTIS-GIT/turtlebot3_simulations/issues/75
      #acc_lim_x: 2.5
      #acc_lim_y: 0.0
      #acc_lim_theta: 3.2
      #decel_lim_x: -2.5
      #decel_lim_y: 0.0
      #decel_lim_theta: -3.2
      #vx_samples: 20
      #vy_samples: 5
      #vtheta_samples: 20
      #sim_time: 1.7
      #linear_granularity: 0.05
      #angular_granularity: 0.025
      #transform_tolerance: 0.2
      #xy_goal_tolerance: 0.25
      #trans_stopped_velocity: 0.25
      #short_circuit_trajectory_evaluation: True
      #stateful: True
      #critics: ["RotateToGoal", "Oscillation", "BaseObstacle", "GoalAlign", "PathAlign", "PathDist", "GoalDist"]
      #BaseObstacle.scale: 0.02
      #PathAlign.scale: 32.0
      #PathAlign.forward_point_distance: 0.1
      #GoalAlign.scale: 24.0
      #GoalAlign.forward_point_distance: 0.1
      #PathDist.scale: 32.0
      #GoalDist.scale: 24.0
      #RotateToGoal.scale: 32.0
      #RotateToGoal.slowing_factor: 5.0
      #RotateToGoal.lookahead_time: -1.0

local_costmap:
  local_costmap:
    ros__parameters:
      update_frequency: 5.0
      publish_frequency: 2.0
      global_frame: odom
      robot_base_frame: base_link
      footprint: "[[0.155, 0.11], [0.155, -0.11], [-0.155, -0.11], [-0.155, 0.11]]"
      use_radius: false
      use_sim_time: True
      rolling_window: true
      width: 3
      height: 3
      resolution: 0.05
      robot_radius: 0.22
      plugins: ["voxel_layer", "inflation_layer"]
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 3.0
        inflation_radius: 0.35
      voxel_layer:
        plugin: "nav2_costmap_2d::VoxelLayer"
        enabled: True
        publish_voxel_map: True
        origin_z: 0.0
        z_resolution: 0.05
        z_voxels: 16
        max_obstacle_height: 2.0
        mark_threshold: 0
        observation_sources: scan
        scan:
          topic: /scan
          max_obstacle_height: 2.0
          clearing: True
          marking: True
          data_type: "LaserScan"
          raytrace_max_range: 3.0
          raytrace_min_range: 0.0
          obstacle_max_range: 2.5
          obstacle_min_range: 0.0
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: True
      always_send_full_costmap: True

global_costmap:
  global_costmap:
    ros__parameters:
      update_frequency: 1.0
      publish_frequency: 1.0
      global_frame: map
      robot_base_frame: base_link
      use_sim_time: True
      footprint: "[[0.155, 0.11], [0.155, -0.11], [-0.155, -0.11], [-0.155, 0.11]]"
      use_radius: false
      robot_radius: 0.25
      resolution: 0.05
      track_unknown_space: true
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: True
        observation_sources: scan
        scan:
          topic: /scan
          max_obstacle_height: 2.0
          clearing: True
          marking: True
          data_type: "LaserScan"
          raytrace_max_range: 3.0
          raytrace_min_range: 0.0
          obstacle_max_range: 2.5
          obstacle_min_range: 0.0
          inf_is_valid: true
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: True
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 3.0
        inflation_radius: 0.35
      always_send_full_costmap: True

map_server:
  ros__parameters:
    use_sim_time: True
    # Overridden in launch by the "map" launch configuration or provided default value.
    # To use in yaml, remove the default "map" value in the tb3_simulation_launch.py file & provide full path to map below.
    yaml_filename: ""

map_saver:
  ros__parameters:
    use_sim_time: True
    save_map_timeout: 5.0
    free_thresh_default: 0.25
    occupied_thresh_default: 0.65
    map_subscribe_transient_local: True

planner_server:
  ros__parameters:
    expected_planner_frequency: 20.0
    use_sim_time: True

    # Keep the planner ID as GridBased so BT is happy
    planner_plugins: ["GridBased"]

    GridBased:
      plugin: "nav2_smac_planner/SmacPlannerHybrid"

      tolerance: 0.5
      downsample_costmap: false
      downsample_costmap_factor: 1
      allow_unknown: true

      # Ackermann / corridor tuning
      minimum_turning_radius: 0.35          # tune to your car (start ~3–4x wheelbase)
      motion_model_for_search: "REEDS_SHEPP"   # forward + reverse

      non_straight_penalty: 1.2
      reverse_penalty: 1.2
      change_penalty: 0.2
      cost_penalty: 2.0
      retrospective_penalty: 0.025

      angle_quantization_bins: 64
      lookup_table_size: 20.0
      max_iterations: 1000000

      analytic_expansion_ratio: 3.5
      analytic_expansion_max_length: 4.0
      analytic_expansion_max_cost: 200.0
      analytic_expansion_max_cost_override: false



smoother_server:
  ros__parameters:
    use_sim_time: True
    smoother_plugins: ["simple_smoother"]
    simple_smoother:
      plugin: "nav2_smoother::SimpleSmoother"
      tolerance: 1.0e-10
      max_its: 1000
      do_refinement: True

behavior_server:
  ros__parameters:
    costmap_topic: local_costmap/costmap_raw
    footprint_topic: local_costmap/published_footprint
    cycle_frequency: 10.0
    behavior_plugins: ["spin", "backup", "drive_on_heading", "assisted_teleop", "wait"]
    spin:
      plugin: "nav2_behaviors/Spin"
    backup:
      plugin: "nav2_behaviors/BackUp"
    drive_on_heading:
      plugin: "nav2_behaviors/DriveOnHeading"
    wait:
      plugin: "nav2_behaviors/Wait"
    assisted_teleop:
      plugin: "nav2_behaviors/AssistedTeleop"
    global_frame: odom
    robot_base_frame: base_link
    transform_tolerance: 0.1
    use_sim_time: true
    simulate_ahead_time: 2.0
    max_rotational_vel: 1.0
    min_rotational_vel: 0.4
    rotational_acc_lim: 3.2

robot_state_publisher:
  ros__parameters:
    use_sim_time: True

waypoint_follower:
  ros__parameters:
    use_sim_time: True
    loop_rate: 20
    stop_on_failure: false
    waypoint_task_executor_plugin: "wait_at_waypoint"
    wait_at_waypoint:
      plugin: "nav2_waypoint_follower::WaitAtWaypoint"
      enabled: True
      waypoint_pause_duration: 200

velocity_smoother:
  ros__parameters:
    use_sim_time: True
    smoothing_frequency: 20.0
    scale_velocities: False
    feedback: "OPEN_LOOP"
    max_velocity: [0.26, 0.0, 1.0]
    min_velocity: [-0.26, 0.0, -1.0]
    max_accel: [2.5, 0.0, 3.2]
    max_decel: [-2.5, 0.0, -3.2]
    odom_topic: /odometry/filtered
    odom_duration: 0.1
    deadband_velocity: [0.0, 0.0, 0.0]
    velocity_timeout: 1.0
